[submodule "generator/inja"]
	path = generator/inja
	url = https://github.com/pantor/inja.git
[submodule "generator/RE-flex"]
	path = generator/RE-flex
	url = https://github.com/Genivia/RE-flex.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "generator/tclap"]
	path = generator/tclap
	url = https://github.com/mirror/tclap.git
